// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LCTRL k1  &ht LALT k2  &ht LGUI k3  &ht LSHFT k4
#define HRMR(k1,k2,k3,k4) &ht RSHFT k1  &ht RGUI k2  &ht RALT k3  &ht RCTRL k4

#define BASE 0
#define SYMB 1
#define NUM 2
#define FUNC 3
#define EXTR 4


/ {
    compatible = "zmk,firmware";
    model = "zmk-firmware";

    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &kp Q    &kp W    &kp E     &kp R     &kp T                                                 &kp Y     &kp U     &kp I     &kp O     &kp P
            &kp A    &kp S    &kp D     &kp F     &kp G                                                 &kp H     &kp J     &kp K     &kp L     &kp SEMICOLON
            &kp Z    &kp X    &kp C     &kp V     &kp B                                                 &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH
                              &kp A  &kp B  &kp C  &kp D                                &kp A  &kp B  &kp C  &kp D  
            >;
        };

        extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };
        extra3 {
            status = "reserved";
        };

        extra4 {
            status = "reserved";
        };

    };


};
