if SHIELD_ORIGIN_RIGHT

config ZMK_KEYBOARD_NAME
    default "Origin"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ORIGIN_LEFT || SHIELD_ORIGIN_RIGHT

config ZMK_SPLIT
    default y

endif